.StartItem {
    transition: all 0.3s ease;
    display: block;
    text-decoration: none;

    &--base {
        &:hover {
            background-color: #f1f1f1;
        }
    }

    &--blue {
    }

    &--green {
    }
}
